<div id="container">
  <div class="jumbotron jumbotron-fluid" style="background-color:rgb(119, 194, 194)">
    <div class="container text-center">
      <h1><strong>Scrape Reddit for Web Dev Articles!</strong></h1>
      <h3>All the Web Development news right here. Just click the scrape button to see the latest articles from reddit.
      </h3>
       <button type="button" class="btn btn-warning" id="scrape-button"><strong>Scrape for Articles Here!</strong></button>
      <a href="/saved"><button type="button" class="btn btn-warning" style="margin-left:2%;"><strong>Your Saved Articles</strong></button></a>
    </div>
  </div>
</div>
